## Charts

### 1. Bar chart 
### 2. Pie chart 
### 3. Scattar chart

In [1]:
import pandas as pd
import numpy as np
from datetime import date
import wget

import plotly.express as px
import plotly.io as pio
import plotly.graph_objects as go


import dash 
from dash import html, dcc
from dash.html.H1 import H1
import dash_bootstrap_components as dbc
from dash.dependencies import Input, Output, State

In [2]:
df = pd.read_csv('E:/ITI/Data visualization project/Project/Data/COVID-19-time-series-clean-complete.csv')
df.head()

,Unnamed: 0,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered
0,0,2020-01-22,Afghanistan,0,0,0.0,0.0,0,0,0
1,1,2020-01-22,Albania,0,0,0.0,0.0,0,0,0
2,2,2020-01-22,Algeria,0,0,0.0,0.0,0,0,0
3,3,2020-01-22,Andorra,0,0,0.0,0.0,0,0,0
4,4,2020-01-22,Angola,0,0,0.0,0.0,0,0,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160916 entries, 0 to 160915
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      160916 non-null  int64
 1   Date            160916 non-null  object
 2   Country/Region  160916 non-null  object
 3   Confirmed       160916 non-null  int64
 4   Deaths          160916 non-null  int64
 5   Recovered       160916 non-null  float64
 6   Active          160916 non-null  float64
 7   New cases       160916 non-null  int64
 8   New deaths      160916 non-null  int64
 9   New recovered   160916 non-null  int64
dtypes: float64(2), int64(6), object(2)
memory usage: 12.3+ MB

In [4]:
df['Date'].min()

'2020-01-22'

In [5]:
df['Date'].max()

'2022-04-21'

In [6]:
df[df['Date'] == '2021-10-25']

,Unnamed: 0,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered
125832,125832,2021-10-25,Afghanistan,156040,7260,0.0,148780.0,96,5,0
125833,125833,2021-10-25,Albania,181960,2880,0.0,179080.0,264,6,0
125834,125834,2021-10-25,Algeria,205903,5894,0.0,200009.0,81,4,0
125835,125835,2021-10-25,Andorra,15425,130,0.0,15295.0,21,0,0
125836,125836,2021-10-25,Angola,63930,1701,0.0,62229.0,69,4,0
...,...,...,...,...,...,...,...,...,...,...
126023,126023,2021-10-25,West Bank and Gaza,451459,4636,0.0,446823.0,1149,25,0
126024,126024,2021-10-25,Winter Olympics 2022,0,0,0.0,0.0,0,0,0
126025,126025,2021-10-25,Yemen,9694,1850,0.0,7844.0,16,10,0
126026,126026,2021-10-25,Zambia,209639,3659,0.0,205980.0,5,0,0
126027,126027,2021-10-25,Zimbabwe,132688,4673,0.0,128015.0,37,4,0

In [7]:
import pycountry_convert as pc

def country_continent(column):
    Continent=[]
    for country in column:
        try:
            country_code = pc.country_name_to_country_alpha2(country, cn_name_format="default")
            continent_code = pc.country_alpha2_to_continent_code(country_code)
            country_continent_name = pc.convert_continent_code_to_continent_name(continent_code)
            Continent.append(country_continent_name)
        except:
            Continent.append('None')
    return Continent


df['Continent']=country_continent(df['Country/Region'])
df.head()

,Unnamed: 0,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Continent
0,0,2020-01-22,Afghanistan,0,0,0.0,0.0,0,0,0,Asia
1,1,2020-01-22,Albania,0,0,0.0,0.0,0,0,0,Europe
2,2,2020-01-22,Algeria,0,0,0.0,0.0,0,0,0,Africa
3,3,2020-01-22,Andorra,0,0,0.0,0.0,0,0,0,Europe
4,4,2020-01-22,Angola,0,0,0.0,0.0,0,0,0,Africa

In [8]:
df['New recovered']

0         0
1         0
2         0
3         0
4         0
         ..
160911    0
160912    0
160913    0
160914    0
160915    0
Name: New recovered, Length: 160916, dtype: int64

In [9]:
df['New recovered'] = abs(df['New recovered'])

In [10]:
total_confirmed = df['New cases'].sum()
total_deaths = df['New deaths'].sum()
total_recovered = int(df['New recovered'].sum())

In [11]:
df.head()

,Unnamed: 0,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Continent
0,0,2020-01-22,Afghanistan,0,0,0.0,0.0,0,0,0,Asia
1,1,2020-01-22,Albania,0,0,0.0,0.0,0,0,0,Europe
2,2,2020-01-22,Algeria,0,0,0.0,0.0,0,0,0,Africa
3,3,2020-01-22,Andorra,0,0,0.0,0.0,0,0,0,Europe
4,4,2020-01-22,Angola,0,0,0.0,0.0,0,0,0,Africa

In [12]:
df_1 = df.groupby('Continent').sum().reset_index()
df_1

,Continent,Unnamed: 0,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered
0,Africa,3368855276,3683182737,90299103,1.055738e+09,2.537146e+09,11434503,250231,11530354
1,Asia,2774456202,33708380827,467449291,9.284538e+09,2.395639e+10,129192648,1376049,115323798
2,Europe,2840373471,36767614726,644664457,5.406826e+09,3.071612e+10,190132389,1804293,56096214
3,None,924883593,24615286049,385198009,6.592137e+08,2.357087e+10,99364018,1044288,14469818
4,North America,1452850631,4164450195,176468068,8.497219e+08,3.138260e+09,14694200,435253,8959894
5,Oceania,792897991,453520025,1464937,1.165049e+07,4.404046e+08,6668672,9249,116142
6,South America,792581906,18064976126,527332622,5.940777e+09,1.159687e+10,56591429,1292585,65473402

In [13]:
df_1["Continent"]= df_1["Continent"].replace("None", "Australia")
df_1["Continent"]

0           Africa
1             Asia
2           Europe
3        Australia
4    North America
5          Oceania
6    South America
Name: Continent, dtype: object

In [14]:
df_1.head(6)

,Continent,Unnamed: 0,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered
0,Africa,3368855276,3683182737,90299103,1.055738e+09,2.537146e+09,11434503,250231,11530354
1,Asia,2774456202,33708380827,467449291,9.284538e+09,2.395639e+10,129192648,1376049,115323798
2,Europe,2840373471,36767614726,644664457,5.406826e+09,3.071612e+10,190132389,1804293,56096214
3,Australia,924883593,24615286049,385198009,6.592137e+08,2.357087e+10,99364018,1044288,14469818
4,North America,1452850631,4164450195,176468068,8.497219e+08,3.138260e+09,14694200,435253,8959894
5,Oceania,792897991,453520025,1464937,1.165049e+07,4.404046e+08,6668672,9249,116142

In [15]:
import plotly.graph_objects as go

In [ ]:
app = dash.Dash(external_stylesheets=[dbc.themes.SIMPLEX])
app.title = "Project"
app.layout = html.Div(
    [ 
#         html.Div([html.H1(children="COVID_19 DASHBOARD",style={'textAlign': 'center', 'color': '#636efa', 'font-family': 'Serif'}
#                           , className="header-title")], style={'backgroundColor': '#e5ecf6', "border":"3px white solid"}),
        
#         html.Div([dcc.Graph(id='g_case', figure = fig_case)], style={'width': '33.3%', 'display': 'inline-block', "border":"3px white solid"}), 
#         html.Div([dcc.Graph(id='g_new_death', figure = fig_new_death)],style={'width': '33.3%', 'display': 'inline-block', "border":"3px white solid"}), 
#         html.Div([dcc.Graph(id='g_new_recoverd', figure = fig_new_recoverd)],style={'width': '33.3%', 'display': 'inline-block', "border":"3px white solid"})
        
        
          dcc.Graph(
                     id = 'my_Graph'
                   ),
        
          dcc.Graph(
                     id = 'my_Graph1'
                   ),
          
          dcc.Graph(
                     id = 'my_Graph2'
                   ),
           
      
          
        
          dcc.Dropdown(
                        id='dropmenu',
                        options=['bar' , 'scatter', 'pie'],
                        value='bar'
                    )
  
        
    ]
    
)

@app.callback(
    Output(component_id= 'my_Graph' , component_property= 'figure'),
    Output(component_id= 'my_Graph1' , component_property= 'figure'),
    Output(component_id= 'my_Graph2' , component_property= 'figure'),
    Input(component_id = 'dropmenu' , component_property= 'value' )
)


def update_My_Div(selected_cont):
    
    if selected_cont == 'bar':
        
        fig_case = px.bar(df_1, x = 'Continent', y =  'New cases' ,  hover_data=['Continent', 'New cases'], color='Continent',
                           labels={'New cases':'Total of New cases of Continent'})
        fig_new_death = px.bar(df_1 , x = 'Continent' ,  y =  'New deaths' , hover_data=['Continent', 'New deaths'], color='Continent',
                           labels={'New deaths':'Total of New deaths of Continent'})
        fig_new_recoverd = px.bar(df_1 , x = 'Continent' , y =  'New recovered' , hover_data=['Continent', 'New recovered'], color='Continent',
                           labels={'New recovered':'Total of New recovered of Continent'})
    
    elif selected_cont == 'scatter':
        
        fig_case = px.scatter(df_1, x="Continent", y="New cases",
                     color="Continent", hover_name="Continent",
                      size = 'New cases' , size_max=200)
        fig_new_death = px.scatter(df_1, x="Continent", y="New deaths",
                     color="Continent", hover_name="Continent",
                       size = 'New deaths' ,size_max=200)
        fig_new_recoverd = px.scatter(df_1, x="Continent", y="New recovered",
                     size = 'New recovered', color="Continent", hover_name="Continent",
                      size_max=200)

        
        
        
    
    else:
        
        fig_case = px.pie(df_1, values='New cases', names='Continent', title='Total of New cases of Continent' , hole=.3)
        fig_new_death =  px.pie(df_1, values='New deaths', names='Continent', title='Total of New deaths of Continent' , hole=.3)
        fig_new_recoverd =  px.pie(df_1, values='New recovered', names='Continent', title='Total of New recovered of Continent' , hole=.3)
        
        

    return fig_case , fig_new_death , fig_new_recoverd 
        
app.run_server()

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [26/Apr/2022 15:09:24] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [26/Apr/2022 15:09:24] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [26/Apr/2022 15:09:24] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [26/Apr/2022 15:09:25] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
127.0.0.1 - - [26/Apr/2022 15:09:25] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 200 -
127.0.0.1 - - [26/Apr/2022 15:09:25] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -
127.0.0.1 - - [26/Apr/2022 15:09:26] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [26/Apr/2022 15:09:33] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [26/Apr/2022 15:09:40] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [26/Apr/2022 15:09:52] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [26/Apr/2022 15:10:10] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [26/Apr/2022 15:10:31] "POST /_dash-update-component HTTP/1.1" 200 -